<!DOCTYPE html>
<html>
  <head>
    <title>ben.coffee</title>
    <meta name="description" content="ben.coffee">
    <!-- TODO fix favicon -->
    <link id="favicon" rel="icon" href="http://clipartist.net/links/clipartist.net/coffee_cup_icon_black_white_line_pitr-1979px.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="stylesheet" href="/style.css"-->
    <link rel="stylesheet" href="/fonts.css">

  </head>
  <body>
    <header>
      <h1 style="color: white; text-align: center;">
        ben.coffee
      </h1>
    </header>

    <main>
      <div style="margin-top: 100px; border: 1px solid transparent" class="collection">
        <!-- Twitter -->
        <a style="border: 1px solid transparent; background-color: transparent;" href="https://twitter.com/blahshaw" target="_blank" class="collection-item">
          <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <img style="max-height: 100px;" src="https://cdn.hyperdev.com/us-east-1%3A20591b2a-a711-4ccd-b3a6-632d98f7fa2a%2Ftwitter.svg"/>
          </div>
        </a>
        <!-- Github -->
        <!-- TODO find non-black image -->
        <a style="border: 1px solid transparent; background-color: transparent;" href="https://github.com/b-lambert" target="_blank" class="collection-item">
          <div style="background-color : transparent; height: 100px; margin-left: auto; margin-right: auto; text-align: center;">
            <img style="max-height: 100px;" src="https://cdn.hyperdev.com/us-east-1%3A20591b2a-a711-4ccd-b3a6-632d98f7fa2a%2Foctocat.svg"/>
          </div>
        </a>
        <!-- PA -->
        <a style="border: 1px solid transparent; background-color : transparent;" href="https://www.perfectaudience.com/about/" target="_blank" class="collection-item">
          <div style="height: 100px; margin-left: auto; margin-right: auto; text-align: center;">
            <img style="max-height: 100px;" src="https://cdn.hyperdev.com/us-east-1:20591b2a-a711-4ccd-b3a6-632d98f7fa2a/pa yoyo.png"/>
          </div>
        </a>
        <!-- Instagram -->
        <a style="border: 1px solid transparent; background-color: transparent;" href="https://www.instagram.com/bjorne.identity/" target="_blank" class="collection-item">
          <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <img style="max-height: 100px;" src="https://cdn.hyperdev.com/us-east-1%3A20591b2a-a711-4ccd-b3a6-632d98f7fa2a%2Finstag.png"/>
          </div>
        </a>
        <!-- Soundcloud -->
        <a style="border: 1px solid transparent; background-color: transparent;" href="https://soundcloud.com/blahshaw" target="_blank" class="collection-item">
          <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <img style="max-height: 100px;" src="https://cdn2.iconfinder.com/data/icons/the-circle-icons/512/soundcloud.png"/>
          </div>
        </a>
        <!-- Steam -->
        <a style="border: 1px solid transparent; background-color: transparent;" href="https://steamcommunity.com/id/blahshaw" target="_blank" class="collection-item">
          <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <img style="max-height: 100px;" src="http://cdn.onlinewebfonts.com/svg/img_411937.svg"/>
          </div>
        </a>
      </div>
    </main>

    <footer>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

  </body>
</html>
